apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: mcp-gateway
  namespace: mcp-gateway
spec:
  gatewayClassName: istio
  listeners:
    - name: mcp
      hostname: "${MCP_HOSTNAME}"
      port: 8080
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: All
    - name: mcps
      hostname: "*.mcp.local"
      port: 8080
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: All
    - name: http
      hostname: "${MCP_HOSTNAME}"
      port: 80
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: All
