apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: mcp-gateway
  namespace: mcp-gateway
spec:
  host: "${MCP_HOSTNAME}"
  to:
    kind: Service
    name: mcp-gateway-istio
  port:
    targetPort: 8080
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
